/********* Generall Area *******/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(220, 244, 252);
    color: #171717;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 64px;
}

html {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/********* Header Area *******/

header {
    height: 64px;
    position: fixed;
    width: 97%;
    right: 0;
    left: 0;
    top: 0;
    border-bottom: 2px solid black;
    padding: 0px 24px 0px 24px;
    z-index: 10;
    background-color: white;
}

li {
    list-style: none;
}
.nav {
    display: flex;
    justify-content: space-between;
    height: 64px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.navigation ul li {
    padding-left: 16px;
}

.navigation {
    margin: auto 0;
    font-size: 20px;
}

.logo-text {
    font-weight: bold;
}

.logo-text .nav-academy {
    color: grey;
    font-weight: lighter;
}

.logo img {
    height: auto;
    width: 50px;
}

.logo span {
    font-size: 28px;
}

/********* Content Banner Area *******/

.content-area {
    display: flex;
    margin: 35px 24px;
    height: 600px;
    align-items: center;
}

.content-area-img img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.content-area-img {
    margin-right: 24px;
}

.container-content-area-text
{
    height: 100%;
    padding-left: 24px;
    display: flex;
    align-items: center;
}

.content-area-text {
    width: 100%;
}

.content-area-h {
    margin: 0px 0px 20px 0px;
    font-size: 4rem;
}

.content-area-p {
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.content-area-button {
    width: 300px;
    height: 55px;
    background-color: rgb(47, 43, 49);
    color: white;
    font-size: 1.1rem;
    border: 0px;
    transition: 300ms background-color ease-in-out ;
    cursor: pointer;
}

.content-area-button:hover {
    background-color:  rgb(96, 93, 97);;
}

/********* Content 1 Area *******/

.content-container {
    background-color: white;
    padding-bottom: 32px;
}

.content-container-right {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
}

.content-container-left {
width: 60%;
float: left;
padding: 32px 24px;
border-right: 1px solid gray;
}

.content-img img{
    max-width: 100%;
    height: auto;
}

.content-container-left h1 {
    font-weight: bold;
    margin: 32px 0px 24px 0px;
    font-size: 2.4rem;
}

.content-container-left p {
    font-weight: lighter;
    font-size: 0.85rem;
    margin-bottom: 24px;
}

.content-container-left span {
    font-size: 0.85rem;
}

.content-container-right .orientation, .campus, .guest-lecture {
    display: flex;
    align-content: center;
}

.content-container-right img {
    max-width: 35%;
    height: auto;
}

.content-container-right .orientation-text {
    width: 60%;
    display: inline-flex;
    justify-content: left;
    align-content: center;
    flex-wrap: wrap;
}

.content-container-right .guest-lecture img{
    padding: 16px 16px;
}

.content-container-right .orientation img {
    padding: 16px 16px 16px 16px;
}

.content-container-right .campus img {
    padding: 16px 16px 16px 16px;
}

.campus {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.orientation-text {
    opacity: 0.65;
}

.orientation {
    border-top: 1px solid gray;
}

.guest-lecture {
    border-bottom: 1px solid gray;
}

.orientation-text h2 {
    padding-bottom: 8px;
}

.orientation-text p {
    padding-bottom: 8px;
}

.orientation-text a {
    text-decoration: none;
    margin-right: 200px;
}

.orientation:hover, .campus:hover, .guest-lecture:hover {
    background-color: rgb(223, 223, 223);
}

/********* Learning Area *******/

.learning {
    padding: 32px 72px;
}

.learning h1 {
    text-align: center;
}

